body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: midnightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: white;
}

form {
    width: 360px;
    height: 600px;
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}